package main

import (
	"context"
	"fmt"
	"os"
	"os/signal"
	"syscall"

	"{{.ProjectName}}/configs"
	"{{.ProjectName}}/internal/app"
	{{- if or (has .ProjectTypes "Backend") (has .ProjectTypes "Publisher")}}
	"{{.ProjectName}}/routers"
	{{- end}}
	{{- if has .Modules "nats-consumer"}}
	"{{.ProjectName}}/consumers"
	{{- end}}
	{{- if has .Modules "kafka-consumer"}}
	"{{.ProjectName}}/consumers"
	{{- end}}
	{{- if has .Modules "asynq-consumer"}}
	"{{.ProjectName}}/consumers"
	{{- end}}
)

func main() {
	a := app.InitializeApp()
	logger := a.Logs

	fiberApp := routers.InitializeRouter(a.Controller, logger)

	{{- if has .ProjectTypes "Scheduler"}}
	a.Scheduler.StartScheduler()
	{{- end}}

	{{- if has .ProjectTypes "gRPC"}}
	{{- range .Modules}}
	{{- if eq . "grpc-server"}}
	go a.GrpcServer.Start()
	{{- end}}
	{{- end}}
	{{- end}}

	ctx := context.Background()
	logger.Info().Ctx(ctx).Msg("Finish Initializing")

	{{- if has .Modules "nats-consumer"}}
	consumers.InitializeConsumers(ctx, a.Repo, a.V1Usecase, logger)
	{{- end}}
	{{- if has .Modules "kafka-consumer"}}
	consumers.InitializeConsumers(ctx, a.Repo, a.V1Usecase, logger)
	{{- end}}
	{{- if has .Modules "asynq-consumer"}}
	consumers.InitializeConsumers(ctx, a.Repo, a.V1Usecase, logger)
	{{- end}}

	go func() {
		if err := fiberApp.Listen(fmt.Sprintf("%s:%s", configs.Cfg.Server.Address, configs.Cfg.Server.Port)); err != nil {
			logger.Error().Ctx(ctx).Err(err).Msg("error while running api")
		}
	}()

	// Graceful Shutdown
	quit := make(chan os.Signal, 1)
	signal.Notify(quit, os.Interrupt, syscall.SIGTERM)
	<-quit

	logger.Info().Ctx(ctx).Msg("Shutting down...")

	{{- if or (has .ProjectTypes "Backend") (has .ProjectTypes "Publisher")}}
	if err := fiberApp.Shutdown(); err != nil {
		logger.Error().Ctx(ctx).Err(err).Msg("Server forced to shutdown")
	}
	{{- end}}

	{{- if has .ProjectTypes "gRPC"}}
	{{- range .Modules}}
	{{- if eq . "grpc-server"}}
	a.GrpcServer.Stop()
	{{- end}}
	{{- end}}
	{{- end}}

	{{- if has .Modules "nats"}}
	if natsConn := a.Repo.GetNats().GetConn(); natsConn != nil {
		logger.Info().Ctx(ctx).Msg("Draining NATS connection...")
		if err := natsConn.Drain(); err != nil {
			logger.Error().Ctx(ctx).Err(err).Msg("Error draining NATS connection")
		} else {
			logger.Info().Ctx(ctx).Msg("NATS connection drained successfully")
		}
	}
	{{- end}}
}
