package main

import (
	"context"
	"fmt"
	"os"
	"os/signal"
	"syscall"

	"{{.ProjectName}}/configs"
	"{{.ProjectName}}/internal/app"
	"{{.ProjectName}}/routers"
)

func main() {
	a := app.InitializeApp()
	logger := a.Logs

	{{- if or (has .ProjectTypes "Backend") (has .ProjectTypes "Publisher")}}
	fiberApp := routers.InitializeRouter(a.Controller, logger)
	{{- end}}

	{{- if has .ProjectTypes "Scheduler"}}
	a.Scheduler.StartScheduler()
	{{- end}}

	{{- if has .ProjectTypes "gRPC"}}
	{{- range .Modules}}
	{{- if eq . "grpc-server"}}
	go a.GrpcServer.Start()
	{{- end}}
	{{- end}}
	{{- end}}

	ctx := context.Background()
	logger.Info().Ctx(ctx).Msg("Finish Initializing")

	{{- if or (has .ProjectTypes "Backend") (has .ProjectTypes "Publisher")}}
	go func() {
		if err := fiberApp.Listen(fmt.Sprintf("%s:%s", configs.Cfg.Server.Address, configs.Cfg.Server.Port)); err != nil {
			logger.Error().Ctx(ctx).Err(err).Msg("error while running api")
		}
	}()
	{{- end}}

	// Graceful Shutdown
	quit := make(chan os.Signal, 1)
	signal.Notify(quit, os.Interrupt, syscall.SIGTERM)
	<-quit

	logger.Info().Ctx(ctx).Msg("Shutting down server...")

	{{- if or (has .ProjectTypes "Backend") (has .ProjectTypes "Publisher")}}
	if err := fiberApp.Shutdown(); err != nil {
		logger.Error().Ctx(ctx).Err(err).Msg("Server forced to shutdown")
	}
	{{- end}}

	{{- if has .ProjectTypes "gRPC"}}
	{{- range .Modules}}
	{{- if eq . "grpc-server"}}
	a.GrpcServer.Stop()
	{{- end}}
	{{- end}}
	{{- end}}
}
