package routers

import (
	"{{.ProjectName}}/configs"
	"{{.ProjectName}}/controllers"
	"{{.ProjectName}}/helpers"
	"github.com/gofiber/fiber/v3"
	"github.com/gofiber/fiber/v3/middleware/cors"
	"github.com/gofiber/fiber/v3/middleware/recover"
	"github.com/rs/zerolog"
)

func InitializeRouter(ctrl controllers.Controller, l zerolog.Logger) *fiber.App {
	app := fiber.New(fiber.Config{
		AppName: configs.Cfg.General.ServiceName,
	})

	app.Use(cors.New())
	app.Use(recover.New())
	app.Use(helpers.TracingMiddleware())
	app.Use(helpers.LoggingMiddleware(l))

	main := app.Group(configs.Cfg.Server.MainPath)
	
	v1 := main.Group("/v1")
	v1.Get("/healthcheck", ctrl.V1().HealthCheck)

	{{- range .Features}}
	{{.}}Group := v1.Group("/{{.}}")
	{{.}}Group.Post("/", ctrl.V1().{{. | title}}().Create)
	{{.}}Group.Get("/:id", ctrl.V1().{{. | title}}().Get)
	{{.}}Group.Get("/", ctrl.V1().{{. | title}}().List)
	{{.}}Group.Put("/:id", ctrl.V1().{{. | title}}().Update)
	{{.}}Group.Delete("/:id", ctrl.V1().{{. | title}}().Delete)
	{{- end}}
	// [V1_ROUTES_MARKER]

	return app
}
