package consumers

import (
	v1Consumer "{{.ProjectName}}/consumers/v1"

	"github.com/rs/zerolog"
)

type Consumer interface {
	V1() v1Consumer.V1Consumer
}

type consumer struct {
	V1Consumer v1Consumer.V1Consumer
	Logs       zerolog.Logger
}

func InitializeConsumer(v1 v1Consumer.V1Consumer, l zerolog.Logger) Consumer {
	return &consumer{
		V1Consumer: v1,
		Logs:       l,
	}
}

func (c *consumer) V1() v1Consumer.V1Consumer {
	return c.V1Consumer
}
