package consumers

import (
	"context"
	{{- if or (has .Modules "nats-consumer") (has .Modules "asynq-consumer")}}
	"{{.ProjectName}}/configs"
	{{- end}}
	"{{.ProjectName}}/repositories"
	v1Usecases "{{.ProjectName}}/usecases/v1"
	{{- if has .Modules "nats-consumer"}}
	natsgo "github.com/nats-io/nats.go/jetstream"
	{{- end}}
	{{- if has .Modules "asynq-consumer"}}
	"github.com/hibiken/asynq"
	{{- end}}
	"github.com/rs/zerolog"
)

{{- if has .Modules "nats-consumer"}}
// NatsConsumerConfig mendefinisikan konfigurasi masing-masing NATS consumer
type NatsConsumerConfig struct {
	StreamName   string
	SubjectName  string
	Handler      natsgo.MessageHandler
}
{{- end}}

// InitializeConsumers registers all message consumers for the application
func InitializeConsumers(ctx context.Context, repo repositories.Repository, v1Usecase v1Usecases.Usecase, l zerolog.Logger) {
	l.Info().Ctx(ctx).Msg("Starting consumers...")

	{{- if has .Modules "nats-consumer"}}
	// --- NATS JetStream Consumers ---
	consumerName := configs.Cfg.General.ServiceName
	natsConsumers := []NatsConsumerConfig{
		// {
		// 	  StreamName:  configs.Cfg.Database.Nats.ExampleStream,
		//	  SubjectName: configs.Cfg.Database.Nats.ExampleConsumer,
		//	  Handler:     v1Usecase.ExampleNatsHandler,
		// },
	}
	for _, conf := range natsConsumers {
		_, err := repo.GetNats().Consume(
			ctx,
			conf.StreamName,
			conf.SubjectName,
			consumerName,
			0,
			conf.Handler,
		)
		if err != nil {
			l.Error().Ctx(ctx).Err(err).Msgf("[NATS] Failed to start consumer [%s] for stream [%s]", conf.SubjectName, conf.StreamName)
		} else {
			l.Info().Ctx(ctx).Msgf("[NATS] Consumer started [%s] -> [%s]", conf.StreamName, conf.SubjectName)
		}
	}
	{{- end}}

	{{- if has .Modules "kafka-consumer"}}
	// --- Kafka Consumers ---
	l.Info().Ctx(ctx).Msg("[Kafka] Starting Kafka consumers...")
	// TODO: Register Kafka consumers here
	{{- end}}

	{{- if has .Modules "asynq-consumer"}}
	// --- Asynq Workers ---
	l.Info().Ctx(ctx).Msg("[Asynq] Starting Asynq workers...")
	
	mux := asynq.NewServeMux()
	c := NewConsumer(l, v1Usecase)
	
	// Register handlers. You can register specific methods or a catch-all ProcessTask.
	// For simplicity, we use the catch-all ProcessTask which handles all task types.
	mux.HandleFunc("/", func(ctx context.Context, t *asynq.Task) error {
		return c.ProcessTask(ctx, t)
	})

	go func() {
		if err := repo.GetAsynq().GetServer().Run(mux); err != nil {
			l.Error().Err(err).Msg("[Asynq] Server failed")
		}
	}()
	{{- end}}
}
