package repositories

import (
	"github.com/rs/zerolog"
	{{- range .Modules}}
	{{- if eq . "mysql"}}
	"{{$.ProjectName}}/repositories/mysql"
	{{- end}}
	{{- if eq . "postgresql"}}
	"{{$.ProjectName}}/repositories/postgre"
	{{- end}}
	{{- if eq . "redis"}}
	"{{$.ProjectName}}/repositories/redis"
	{{- end}}
	{{- if eq . "kafka"}}
	"{{$.ProjectName}}/repositories/kafka"
	{{- end}}
	{{- if eq . "nats"}}
	"{{$.ProjectName}}/repositories/nats"
	{{- end}}
	{{- if eq . "minio"}}
	"{{$.ProjectName}}/repositories/minio"
	{{- end}}
	{{- if eq . "redis-cluster"}}
	rediscluster "{{$.ProjectName}}/repositories/redis_cluster"
	{{- end}}
	{{- end}}
)

type Repository interface {
	{{- range .Modules}}
	{{- if eq . "mysql"}}
	GetMysql() mysql.MysqlRepository
	{{- else if eq . "postgresql"}}
	GetPostgre() postgre.PostgreRepository
	{{- else if eq . "redis"}}
	GetRedis() redis.RedisRepository
	{{- else if eq . "kafka"}}
	GetKafka() kafka.KafkaRepository
	{{- else if eq . "nats"}}
	GetNats() nats.NatsRepository
	{{- else if eq . "minio"}}
	GetMinio() minio.MinioRepository
	{{- else if eq . "redis-cluster"}}
	GetRedisCluster() rediscluster.RedisClusterRepository
	{{- end}}
	{{- end}}
}

type repository struct {
	{{- range .Modules}}
	{{- if eq . "mysql"}}
	Mysql mysql.MysqlRepository
	{{- end}}
	{{- if eq . "postgresql"}}
	Postgre postgre.PostgreRepository
	{{- end}}
	{{- if eq . "redis"}}
	Redis redis.RedisRepository
	{{- end}}
	{{- if eq . "kafka"}}
	Kafka kafka.KafkaRepository
	{{- end}}
	{{- if eq . "nats"}}
	Nats nats.NatsRepository
	{{- end}}
	{{- if eq . "minio"}}
	Minio minio.MinioRepository
	{{- end}}
	{{- if eq . "redis-cluster"}}
	RedisCluster rediscluster.RedisClusterRepository
	{{- end}}
	{{- end}}
}

func InitializeRepository(
	{{- range .Modules}}
	{{- if eq . "mysql"}}
	mysqlDb mysql.MysqlRepository,
	{{- end}}
	{{- if eq . "postgresql"}}
	postgreDb postgre.PostgreRepository,
	{{- end}}
	{{- if eq . "redis"}}
	redisDb redis.RedisRepository,
	{{- end}}
	{{- if eq . "kafka"}}
	kafkaDb kafka.KafkaRepository,
	{{- end}}
	{{- if eq . "nats"}}
	natsDb nats.NatsRepository,
	{{- end}}
	{{- if eq . "minio"}}
	minioDb minio.MinioRepository,
	{{- end}}
	{{- if eq . "redis-cluster"}}
	redisClusterDb rediscluster.RedisClusterRepository,
	{{- end}}
	{{- end}}
	l zerolog.Logger,
) Repository {
	return &repository{
		{{- range .Modules}}
		{{- if eq . "mysql"}}
		Mysql: mysqlDb,
		{{- end}}
		{{- if eq . "postgresql"}}
		Postgre: postgreDb,
		{{- end}}
		{{- if eq . "redis"}}
		Redis: redisDb,
		{{- end}}
		{{- if eq . "kafka"}}
		Kafka: kafkaDb,
		{{- end}}
		{{- if eq . "nats"}}
		Nats: natsDb,
		{{- end}}
		{{- if eq . "minio"}}
		Minio: minioDb,
		{{- end}}
		{{- if eq . "redis-cluster"}}
		RedisCluster: redisClusterDb,
		{{- end}}
		{{- end}}
	}
}

{{- range .Modules}}
{{- if eq . "mysql"}}
func (d *repository) GetMysql() mysql.MysqlRepository {
	return d.Mysql
}
{{- end}}
{{- if eq . "postgresql"}}
func (d *repository) GetPostgre() postgre.PostgreRepository {
	return d.Postgre
}
{{- end}}
{{- if eq . "redis"}}
func (d *repository) GetRedis() redis.RedisRepository {
	return d.Redis
}
{{- end}}
{{- if eq . "kafka"}}
func (d *repository) GetKafka() kafka.KafkaRepository {
	return d.Kafka
}
{{- end}}
{{- if eq . "nats"}}
func (d *repository) GetNats() nats.NatsRepository {
	return d.Nats
}
{{- end}}
{{- if eq . "minio"}}
func (d *repository) GetMinio() minio.MinioRepository {
	return d.Minio
}
{{- end}}
{{- if eq . "redis-cluster"}}
func (d *repository) GetRedisCluster() rediscluster.RedisClusterRepository {
	return d.RedisCluster
}
{{- end}}
{{- end}}
