[
  {
    "key": "success",
    "content": {
      "code": "200?00",
      "title": "Success",
      "message": "Successful"
    }
  },
  {
    "key": "generalError",
    "content": {
      "code": "500?00",
      "title": "Error",
      "message": "General error occured"
    }
  },
  {
    "key": "clientError",
    "content": {
      "code": "400?00",
      "title": "Error",
      "message": "Client error occured"
    }
  },
  {
    "key": "validationError",
    "content": {
      "code": "400?00",
      "title": "Error",
      "message": "Validation error occured"
    }
  },
  {
    "key": "unauthorized",
    "content": {
      "code": "401?00",
      "title": "Error",
      "message": "Unauthorized"
    }
  },
  {
    "key": "forbidden",
    "content": {
      "code": "403?00",
      "title": "Error",
      "message": "Forbidden"
    }
  },
  {
    "key": "notFoundError",
    "content": {
      "code": "404?00",
      "title": "Error",
      "message": "Not found"
    }
  }
]
