package controllers

import (
	"{{.ProjectName}}/models/dto"
	"{{.ProjectName}}/helpers"
	"{{.ProjectName}}/constants"
	{{- if .IsCRUD}}
	usecases "{{.ProjectName}}/usecases/v1"
	"strconv"
	"github.com/rs/zerolog"
	"github.com/go-playground/validator/v10"
	{{- end}}

	"github.com/gofiber/fiber/v3"

	// [V1_CONTROLLER_LOCAL_IMPORT_MARKER]
)

{{if .IsCRUD}}
type {{.FeatureName}}Controller interface {
	Create(c fiber.Ctx) error
	Get(c fiber.Ctx) error
	List(c fiber.Ctx) error
	Update(c fiber.Ctx) error
	Delete(c fiber.Ctx) error
}

type {{.FeatureNameLower}}Controller struct {
	Usecase   usecases.{{.FeatureName}}Usecase
	Logs      zerolog.Logger
	Validator *validator.Validate
}

func New{{.FeatureName}}Controller(u usecases.{{.FeatureName}}Usecase, l zerolog.Logger, v *validator.Validate) {{.FeatureName}}Controller {
	return &{{.FeatureNameLower}}Controller{
		Usecase:   u,
		Logs:      l,
		Validator: v,
	}
}

func (ctr *{{.FeatureNameLower}}Controller) Create(c fiber.Ctx) error {
	var req dto.{{.FeatureName}}Request
	if err := c.Bind().Body(&req); err != nil {
		ctr.Logs.Error().Err(err).Msg("failed to bind body")
		return helpers.ResponseFormatter(c, dto.Response[any]{}, constants.ERR_CLIENT, "")
	}

	if err := ctr.Validator.Struct(req); err != nil {
		ctr.Logs.Error().Err(err).Msg("validation failed")
		return helpers.ResponseFormatter(c, dto.Response[any]{}, constants.ERR_VALIDATION, "")
	}

	res, err := ctr.Usecase.Create(c.Context(), &req)
	if err != nil {
		ctr.Logs.Error().Err(err).Msg("failed to create")
	}
	return helpers.ResponseFormatter(c, res, err, "")
}

func (ctr *{{.FeatureNameLower}}Controller) Get(c fiber.Ctx) error {
	id, err := strconv.Atoi(c.Params("id"))
	if err != nil {
		ctr.Logs.Error().Err(err).Msg("invalid id")
		return helpers.ResponseFormatter(c, dto.Response[any]{}, constants.ERR_CLIENT, "")
	}

	res, err := ctr.Usecase.Get(c.Context(), id)
	if err != nil {
		ctr.Logs.Error().Err(err).Msg("failed to get")
	}
	return helpers.ResponseFormatter(c, res, err, "")
}

func (ctr *{{.FeatureNameLower}}Controller) List(c fiber.Ctx) error {
	page, _ := strconv.Atoi(c.Query("page", "1"))
	if page < 1 {
		page = 1
	}
	limit, _ := strconv.Atoi(c.Query("limit", "10"))
	if limit < 1 {
		limit = 10
	}

	res, err := ctr.Usecase.List(c.Context(), page, limit)
	if err != nil {
		ctr.Logs.Error().Err(err).Msg("failed to list")
	}
	return helpers.ResponseFormatter(c, res, err, "")
}

func (ctr *{{.FeatureNameLower}}Controller) Update(c fiber.Ctx) error {
	id, err := strconv.Atoi(c.Params("id"))
	if err != nil {
		ctr.Logs.Error().Err(err).Msg("invalid id")
		return helpers.ResponseFormatter(c, dto.Response[any]{}, constants.ERR_CLIENT, "")
	}

	var req dto.{{.FeatureName}}Request
	if err := c.Bind().Body(&req); err != nil {
		ctr.Logs.Error().Err(err).Msg("failed to bind body")
		return helpers.ResponseFormatter(c, dto.Response[any]{}, constants.ERR_CLIENT, "")
	}

	if err := ctr.Validator.Struct(req); err != nil {
		ctr.Logs.Error().Err(err).Msg("validation failed")
		return helpers.ResponseFormatter(c, dto.Response[any]{}, constants.ERR_VALIDATION, "")
	}

	res, err := ctr.Usecase.Update(c.Context(), id, &req)
	if err != nil {
		ctr.Logs.Error().Err(err).Msg("failed to update")
	}
	return helpers.ResponseFormatter(c, res, err, "")
}

func (ctr *{{.FeatureNameLower}}Controller) Delete(c fiber.Ctx) error {
	id, err := strconv.Atoi(c.Params("id"))
	if err != nil {
		ctr.Logs.Error().Err(err).Msg("invalid id")
		return helpers.ResponseFormatter(c, dto.Response[any]{}, constants.ERR_CLIENT, "")
	}

	res, err := ctr.Usecase.Delete(c.Context(), id)
	if err != nil {
		ctr.Logs.Error().Err(err).Msg("failed to delete")
	}
	return helpers.ResponseFormatter(c, res, err, "")
}
{{else}}
// {{.FeatureName}} godoc
// @Summary {{.FeatureName}}
// @Description {{.FeatureName}} endpoint
// @Tags {{.FeatureNameLower}}
// @ID {{.FeatureNameLower}}
// @Produce json
// @Success 200 {object} dto.Response
// @Router /v1/{{.FeatureNameLower}} [GET]
func (ctrl *v1Controller) {{.FeatureName}}(c fiber.Ctx) error {
	res, err := ctrl.Usecase.{{.FeatureName}}(c.Context())
	if err != nil {
		ctrl.Logs.Error().Err(err).Msg("failed to execute {{.FeatureName}}")
	}
	return helpers.ResponseFormatter(c, res, err, "")
}
{{end}}
