package {{.FeatureNameLower}}

import (
	"{{.ProjectName}}/models"
	"{{.ProjectName}}/helpers"
	{{if .IsCRUD}}
	usecase "{{.ProjectName}}/usecases/v1/{{.FeatureNameLower}}"
	"strconv"
	{{end}}

	"github.com/gofiber/fiber/v3"

	// [V1_CONTROLLER_LOCAL_IMPORT_MARKER]
)

{{if .IsCRUD}}
type {{.FeatureName}}Controller interface {
	Create(c fiber.Ctx) error
	Get(c fiber.Ctx) error
	List(c fiber.Ctx) error
	Update(c fiber.Ctx) error
	Delete(c fiber.Ctx) error
}

type {{.FeatureNameLower}}Controller struct {
	usecase usecase.{{.FeatureName}}Usecase
}

func New{{.FeatureName}}Controller(u usecase.{{.FeatureName}}Usecase) {{.FeatureName}}Controller {
	return &{{.FeatureNameLower}}Controller{
		usecase: u,
	}
}

func (ctr *{{.FeatureNameLower}}Controller) Create(c fiber.Ctx) error {
	var req models.{{.FeatureName}}
	if err := c.Bind().Body(&req); err != nil {
		return helpers.ResponseFormatter(c, err, "", 0, nil, nil)
	}

	res, err := ctr.usecase.Create(c.Context(), &req)
	return helpers.ResponseFormatter(c, err, "", res.Count, res.Page, res.Data)
}

func (ctr *{{.FeatureNameLower}}Controller) Get(c fiber.Ctx) error {
	id, err := strconv.Atoi(c.Params("id"))
	if err != nil {
		return helpers.ResponseFormatter(c, err, "", 0, nil, nil)
	}

	res, err := ctr.usecase.Get(c.Context(), id)
	return helpers.ResponseFormatter(c, err, "", res.Count, res.Page, res.Data)
}

func (ctr *{{.FeatureNameLower}}Controller) List(c fiber.Ctx) error {
	page, _ := strconv.Atoi(c.Query("page", "1"))
	if page < 1 {
		page = 1
	}
	limit, _ := strconv.Atoi(c.Query("limit", "10"))
	if limit < 1 {
		limit = 10
	}

	res, err := ctr.usecase.List(c.Context(), page, limit)
	return helpers.ResponseFormatter(c, err, "", res.Count, res.Page, res.Data)
}

func (ctr *{{.FeatureNameLower}}Controller) Update(c fiber.Ctx) error {
	id, err := strconv.Atoi(c.Params("id"))
	if err != nil {
		return helpers.ResponseFormatter(c, err, "", 0, nil, nil)
	}

	var req models.{{.FeatureName}}
	if err := c.Bind().Body(&req); err != nil {
		return helpers.ResponseFormatter(c, err, "", 0, nil, nil)
	}

	res, err := ctr.usecase.Update(c.Context(), id, &req)
	return helpers.ResponseFormatter(c, err, "", res.Count, res.Page, res.Data)
}

func (ctr *{{.FeatureNameLower}}Controller) Delete(c fiber.Ctx) error {
	id, err := strconv.Atoi(c.Params("id"))
	if err != nil {
		return helpers.ResponseFormatter(c, err, "", 0, nil, nil)
	}

	res, err := ctr.usecase.Delete(c.Context(), id)
	return helpers.ResponseFormatter(c, err, "", res.Count, res.Page, res.Data)
}
{{else}}
// {{.FeatureName}} godoc
// @Summary {{.FeatureName}}
// @Description {{.FeatureName}} endpoint
// @Tags {{.FeatureNameLower}}
// @ID {{.FeatureNameLower}}
// @Produce json
// @Success 200 {object} models.Response
// @Router /v1/{{.FeatureNameLower}} [GET]
func (ctrl *v1Controller) {{.FeatureName}}(c fiber.Ctx) error {
	res, err := ctrl.Usecase.{{.FeatureName}}(c.Context())
	return helpers.ResponseFormatter(c, err, "", res.Count, res.Page, res.Data)
}
{{end}}
