package dto

type {{.FeatureName}}Request struct {
	Name string `json:"name"`
	// Add other request fields here
}

type {{.FeatureName}}Response struct {
	ID   uint   `json:"id"`
	Name string `json:"name"`
	// Add other response fields here
}
