package {{.RepoPackage}}

import (
	"context"
	"errors"
	"{{.ProjectName}}/constants"
	"{{.ProjectName}}/models"
	
	"gorm.io/gorm"
)

func (r *{{.RepoPackage | title}}Repository) Create{{.FeatureName}}(ctx context.Context, data *models.{{.FeatureName}}) error {
	return r.Db.WithContext(ctx).Create(data).Error
}

func (r *{{.RepoPackage | title}}Repository) Get{{.FeatureName}}(ctx context.Context, id int) (*models.{{.FeatureName}}, error) {
	var data models.{{.FeatureName}}
	err := r.Db.WithContext(ctx).First(&data, id).Error
	if err != nil {
		if errors.Is(err, gorm.ErrRecordNotFound) {
			return nil, constants.ERR_NOT_FOUND
		}
		return nil, err
	}
	return &data, nil
}

func (r *{{.RepoPackage | title}}Repository) List{{.FeatureName}}(ctx context.Context, limit, offset int) ([]models.{{.FeatureName}}, int64, error) {
	var data []models.{{.FeatureName}}
	var count int64
	
	if err := r.Db.WithContext(ctx).Model(&models.{{.FeatureName}}{}).Count(&count).Error; err != nil {
		return nil, 0, err
	}
	
	err := r.Db.WithContext(ctx).Limit(limit).Offset(offset).Find(&data).Error
	return data, count, err
}

func (r *{{.RepoPackage | title}}Repository) Update{{.FeatureName}}(ctx context.Context, data *models.{{.FeatureName}}) error {
	db := r.Db.WithContext(ctx).Save(data)
	if db.Error != nil {
		return db.Error
	}
	if db.RowsAffected == 0 {
		return constants.ERR_NOT_FOUND
	}
	return nil
}

func (r *{{.RepoPackage | title}}Repository) Delete{{.FeatureName}}(ctx context.Context, id int) error {
	db := r.Db.WithContext(ctx).Delete(&models.{{.FeatureName}}{}, id)
	if db.Error != nil {
		return db.Error
	}
	if db.RowsAffected == 0 {
		return constants.ERR_NOT_FOUND
	}
	return nil
}
