package {{.RepoPackage}}

import (
	"context"
	"{{.ProjectName}}/models"
	
	"github.com/rs/zerolog"
	"gorm.io/gorm"
)

type {{.FeatureName}}Repository interface {
	Create(ctx context.Context, data *models.{{.FeatureName}}) error
	Get(ctx context.Context, id int) (*models.{{.FeatureName}}, error)
	List(ctx context.Context, limit, offset int) ([]models.{{.FeatureName}}, int64, error)
	Update(ctx context.Context, data *models.{{.FeatureName}}) error
	Delete(ctx context.Context, id int) error
}

type {{.FeatureNameLower}}Repository struct {
	db   *gorm.DB
	logs zerolog.Logger
}

func New{{.FeatureName}}Repository(db *gorm.DB, logs zerolog.Logger) {{.FeatureName}}Repository {
	return &{{.FeatureNameLower}}Repository{
		db:   db,
		logs: logs,
	}
}

func (r *{{.FeatureNameLower}}Repository) Create(ctx context.Context, data *models.{{.FeatureName}}) error {
	return r.db.WithContext(ctx).Create(data).Error
}

func (r *{{.FeatureNameLower}}Repository) Get(ctx context.Context, id int) (*models.{{.FeatureName}}, error) {
	var data models.{{.FeatureName}}
	err := r.db.WithContext(ctx).First(&data, id).Error
	return &data, err
}

func (r *{{.FeatureNameLower}}Repository) List(ctx context.Context, limit, offset int) ([]models.{{.FeatureName}}, int64, error) {
	var data []models.{{.FeatureName}}
	var count int64
	
	if err := r.db.WithContext(ctx).Model(&models.{{.FeatureName}}{}).Count(&count).Error; err != nil {
		return nil, 0, err
	}
	
	err := r.db.WithContext(ctx).Limit(limit).Offset(offset).Find(&data).Error
	return data, count, err
}

func (r *{{.FeatureNameLower}}Repository) Update(ctx context.Context, data *models.{{.FeatureName}}) error {
	return r.db.WithContext(ctx).Save(data).Error
}

func (r *{{.FeatureNameLower}}Repository) Delete(ctx context.Context, id int) error {
	return r.db.WithContext(ctx).Delete(&models.{{.FeatureName}}{}, id).Error
}
