package grpcclient

import (
	"context"
	"{{.ProjectName}}/configs"

	"github.com/rs/zerolog"
	"google.golang.org/grpc"
	"google.golang.org/grpc/credentials/insecure"
)

type GrpcClient interface {
	Close() error
}

type grpcClient struct {
	Conn *grpc.ClientConn
	Logs zerolog.Logger
}

func InitializeGrpcClient(l zerolog.Logger) (GrpcClient, error) {
	addr := "localhost:50051" // Get from config
	conn, err := grpc.Dial(addr, grpc.WithTransportCredentials(insecure.NewCredentials()))
	if err != nil {
		l.Error().Err(err).Msgf("Failed to connect to gRPC server at %s", addr)
		return nil, err
	}

	return &grpcClient{
		Conn: conn,
		Logs: l,
	}, nil
}

func (c *grpcClient) Close() error {
	return c.Conn.Close()
}
