package kafka

import (
	"{{.ProjectName}}/configs"
	"github.com/confluentinc/confluent-kafka-go/kafka"
	"github.com/rs/zerolog"
)

type (
	kafkaRepository struct {
		Consumer *kafka.Consumer
		Producer *kafka.Producer
		Logs     zerolog.Logger
	}
	KafkaRepository interface {
		GetConsumer() *kafka.Consumer
		GetProducer() *kafka.Producer
	}
)

func InitializeKafkaRepository(consumer *kafka.Consumer, producer *kafka.Producer, log zerolog.Logger) KafkaRepository {
	return &kafkaRepository{
		Consumer: consumer,
		Producer: producer,
		Logs:     log,
	}
}

func ConnectKafkaReader(ctx context.Context, log zerolog.Logger) *kafka.Consumer {
	conf := configs.Cfg.Database.Kafka
	c, err := kafka.NewConsumer(&kafka.ConfigMap{
		"bootstrap.servers": conf.Address,
		"group.id":          conf.GroupID,
		"auto.offset.reset": "earliest",
	})
	if err != nil {
		log.Error().Ctx(ctx).Err(err).Msg("Error creating kafka consumer")
		panic(err)
	}
	log.Info().Ctx(ctx).Msg("Kafka reader connected successfully")
	return c
}

func ConnectKafkaWriter(ctx context.Context, log zerolog.Logger) *kafka.Producer {
	conf := configs.Cfg.Database.Kafka
	p, err := kafka.NewProducer(&kafka.ConfigMap{
		"bootstrap.servers": conf.Address,
	})
	if err != nil {
		log.Error().Ctx(ctx).Err(err).Msg("Error creating kafka producer")
		panic(err)
	}
	log.Info().Ctx(ctx).Msg("Kafka writer connected successfully")
	return p
}

func (k *kafkaRepository) GetConsumer() *kafka.Consumer {
	return k.Consumer
}

func (k *kafkaRepository) GetProducer() *kafka.Producer {
	return k.Producer
}
