package kafka

import (
	"context"
	"{{.ProjectName}}/configs"
	"github.com/rs/zerolog"
	"github.com/twmb/franz-go/pkg/kgo"
)

type (
	KafkaRepository struct {
		Client *kgo.Client
		Logs   zerolog.Logger
	}
)

func InitializeKafkaRepository(client *kgo.Client, log zerolog.Logger) *KafkaRepository {
	return &KafkaRepository{
		Client: client,
		Logs:   log,
	}
}

func ConnectKafka(ctx context.Context, log zerolog.Logger) *kgo.Client {
	conf := configs.Cfg.Database.Kafka
	
	opts := []kgo.Opt{
		kgo.SeedBrokers(conf.Address),
	}

	if conf.GroupID != "" {
		opts = append(opts, kgo.ConsumerGroup(conf.GroupID))
	}

	client, err := kgo.NewClient(opts...)
	if err != nil {
		log.Error().Ctx(ctx).Err(err).Msg("Error creating kafka client")
		panic(err)
	}

	// Verify connection
	if err := client.Ping(ctx); err != nil {
		log.Error().Ctx(ctx).Err(err).Msg("Kafka ping failed")
		panic(err)
	}

	log.Info().Ctx(ctx).Msg("Kafka client connected successfully")
	return client
}

func (k *KafkaRepository) GetClient() *kgo.Client {
	return k.Client
}

