package minio

import (
	"{{.ProjectName}}/configs"
	"github.com/minio/minio-go/v7"
	"github.com/minio/minio-go/v7/pkg/credentials"
	"github.com/rs/zerolog"
)

type (
	minioDatabase struct {
		Client *minio.Client
		Logs   zerolog.Logger
	}
	MinioDatabase interface {
		GetClient() *minio.Client
	}
)

func InitializeMinioDatabase(client *minio.Client, log zerolog.Logger) MinioDatabase {
	return &minioDatabase{
		Client: client,
		Logs:   log,
	}
}

func ConnectMinio(log zerolog.Logger) *minio.Client {
	conf := configs.Cfg.Database.Minio
	client, err := minio.New(conf.Endpoint, &minio.Options{
		Creds:  credentials.NewStaticV4(conf.KeyID, conf.Secret, ""),
		Secure: true,
	})
	if err != nil {
		log.Error().Err(err).Msg("Error open minio connection")
		panic(err)
	}
	log.Info().Msg("Minio connected successfully")
	return client
}

func (m *minioDatabase) GetClient() *minio.Client {
	return m.Client
}
