package minio

import (
	"context"
	"io"
	"net/url"
	"{{.ProjectName}}/configs"
	"time"

	"github.com/minio/minio-go/v7"
	"github.com/minio/minio-go/v7/pkg/credentials"
	"github.com/rs/zerolog"
)

type (
	minioRepository struct {
		Client *minio.Client
		Logs   zerolog.Logger
	}
	MinioRepository interface {
		GetClient() *minio.Client
		UploadFile(ctx context.Context, bucketName, objectName string, reader io.Reader, objectSize int64, contentType string) error
		GetURL(ctx context.Context, bucketName, objectName string, expiry time.Duration, code string) (string, error)
	}
)

func InitializeMinioRepository(client *minio.Client, log zerolog.Logger) MinioRepository {
	return &minioRepository{
		Client: client,
		Logs:   log,
	}
}

func ConnectMinio(ctx context.Context, log zerolog.Logger) *minio.Client {
	conf := configs.Cfg.Database.Minio
	client, err := minio.New(conf.Endpoint, &minio.Options{
		Creds:  credentials.NewStaticV4(conf.KeyID, conf.Secret, ""),
		Secure: true,
	})
	if err != nil {
		log.Error().Ctx(ctx).Err(err).Msg("Error open minio connection")
		panic(err)
	}
	log.Info().Ctx(ctx).Msg("Minio connected successfully")
	return client
}

func (m *minioRepository) GetClient() *minio.Client {
	return m.Client
}

func (m *minioRepository) UploadFile(ctx context.Context, bucketName, objectName string, reader io.Reader, objectSize int64, contentType string) error {
	_, err := m.Client.PutObject(ctx, bucketName, objectName, reader, objectSize, minio.PutObjectOptions{
		ContentType: contentType,
	})
	if err != nil {
		m.Logs.Error().Ctx(ctx).Err(err).Msg("Failed to upload file to Minio")
		return err
	}
	return nil
}

func (m *minioRepository) GetURL(ctx context.Context, bucketName, objectName string, expiry time.Duration, fileName string) (string, error) {
	urlMinio := configs.Cfg.Database.Minio.Domain

	reqParams := make(url.Values)
	reqParams.Set("response-content-type", "application/octet-stream")
	reqParams.Set("response-content-disposition", `attachment; filename="`+fileName+`"`)

	client := m.Client

	if urlMinio != "" {
		customURL, err := url.Parse(urlMinio)
		if err == nil {
			conf := configs.Cfg.Database.Minio
			customClient, errInit := minio.New(customURL.Host, &minio.Options{
				Creds:  credentials.NewStaticV4(conf.KeyID, conf.Secret, ""),
				Secure: customURL.Scheme == "https",
			})
			if errInit == nil {
				client = customClient
			}
		}
	}

	presignedURL, err := client.PresignedGetObject(ctx, bucketName, objectName, expiry, reqParams)
	if err != nil {
		m.Logs.Error().Ctx(ctx).Err(err).Msg("Failed to get presigned URL from Minio")
		return "", err
	}

	return presignedURL.String(), nil
}

