package mysql

import (
	"context"
	"fmt"
	"{{.ProjectName}}/configs"
	"{{.ProjectName}}/helpers"
	"{{.ProjectName}}/models"
	"github.com/rs/zerolog"
	"gorm.io/driver/mysql"
	"gorm.io/gorm"
	gormlogger "gorm.io/gorm/logger"
	"time"
)

type MysqlRepository struct {
	Db   *gorm.DB
	Logs zerolog.Logger
}

func (m *MysqlRepository) GetDB() *gorm.DB {
	return m.Db
}

func InitializeMysqlRepository(conn *gorm.DB, log zerolog.Logger) *MysqlRepository {
	return &MysqlRepository{
		Db:   conn,
		Logs: log,
	}
}

func ConnectMysql(ctx context.Context, log zerolog.Logger) *gorm.DB {
	conf := configs.Cfg.Database.MySQL
	dsn := fmt.Sprintf("%s:%s@tcp(%s:%d)/%s?charset=utf8mb4&parseTime=True&loc=Local",
		conf.User, conf.Pass, conf.Host, conf.Port, conf.Database)
	db, err := gorm.Open(mysql.Open(dsn), &gorm.Config{
		Logger: helpers.NewGormLogger(helpers.GormLoggerOptions{
			Logger:                    log,
			LogLevel:                  gormlogger.Info,
			IgnoreRecordNotFoundError: true,
			SlowThreshold:             200 * time.Millisecond,
		}),
	})
	if err != nil {
		log.Error().Ctx(ctx).Err(err).Msg("Error open mysql connection")
		panic("failed to connect database")
	}
	
	sqlDB, err := db.DB()
	if err != nil {
		log.Error().Ctx(ctx).Err(err).Msg("Error getting sql.DB from gorm")
		panic("failed to connect database")
	}

	maxConn := conf.MaxConn
	if maxConn == 0 {
		maxConn = 100
	}
	maxIdleConn := conf.MaxIdleConn
	if maxIdleConn == 0 {
		maxIdleConn = 10
	}
	maxConnWait := conf.MaxConnWait
	if maxConnWait == 0 {
		maxConnWait = 1 * time.Hour
	}
	maxConnIdleTime := conf.MaxConnIdleTime
	if maxConnIdleTime == 0 {
		maxConnIdleTime = 15 * time.Minute
	}

	sqlDB.SetMaxOpenConns(maxConn)
	sqlDB.SetMaxIdleConns(maxIdleConn)
	sqlDB.SetConnMaxLifetime(maxConnWait)
	sqlDB.SetConnMaxIdleTime(maxConnIdleTime)

	return db
}

func (m *MysqlRepository) HealthCheck(ctx context.Context) models.DataHealthCheck {
	res := models.DataHealthCheck{
		ServiceName: "MySQL Database",
		StatusCode:  200,
	}
	
	sqlDB, err := m.Db.DB()
	if err != nil {
		m.Logs.Error().Ctx(ctx).Err(err).Msg("Failed to get SQL DB")
		res.StatusCode = 500
		res.AdditionalData = err.Error()
		return res
	}
	
	if err := sqlDB.Ping(); err != nil {
		m.Logs.Error().Ctx(ctx).Err(err).Msg("MySQL ping failed")
		res.StatusCode = 500
		res.AdditionalData = err.Error()
		return res
	}
	
	return res
}
