package nats

import (
	"strings"
	"{{.ProjectName}}/configs"
	"github.com/nats-io/nats.go"
	"github.com/rs/zerolog"
)

type (
	natsRepository struct {
		Conn *nats.Conn
		JS   nats.JetStreamContext
		Logs zerolog.Logger
	}
	NatsRepository interface {
		GetConn() *nats.Conn
		GetJS() nats.JetStreamContext
	}
)

func InitializeNatsRepository(nc *nats.Conn, js nats.JetStreamContext, log zerolog.Logger) NatsRepository {
	return &natsRepository{
		Conn: nc,
		JS:   js,
		Logs: log,
	}
}

func ConnectNats(log zerolog.Logger) (*nats.Conn, nats.JetStreamContext) {
	conf := configs.Cfg.Database.Nats
	nc, err := nats.Connect(strings.Join(conf.Servers, ","),
		nats.UserInfo(conf.Username, conf.Password),
		nats.MaxReconnects(-1))
	if err != nil {
		log.Error().Err(err).Msg("Failed to connect to NATS")
		panic(err)
	}

	js, err := nc.JetStream()
	if err != nil {
		log.Error().Err(err).Msg("Failed to initialize JetStream")
		panic(err)
	}

	log.Info().Msg("NATS connected successfully")
	return nc, js
}

func (n *natsRepository) GetConn() *nats.Conn {
	return n.Conn
}

func (n *natsRepository) GetJS() nats.JetStreamContext {
	return n.JS
}
