package nats

import (
	"context"
	"{{.ProjectName}}/configs"
	"strings"

	"github.com/nats-io/nats.go"
	"github.com/nats-io/nats.go/jetstream"
	"github.com/rs/zerolog"
)

type (
	natsRepository struct {
		Conn *nats.Conn
		JS   jetstream.JetStream
		Logs zerolog.Logger
	}
	NatsRepository interface {
		GetConn() *nats.Conn
		GetJS() jetstream.JetStream
		Publish(ctx context.Context, subject string, data []byte) (*jetstream.PubAck, error)
		Consume(ctx context.Context, streamName, consumerName string, handler jetstream.MessageHandler) (jetstream.ConsumeContext, error)
	}
)

func InitializeNatsRepository(nc *nats.Conn, js jetstream.JetStream, log zerolog.Logger) NatsRepository {
	return &natsRepository{
		Conn: nc,
		JS:   js,
		Logs: log,
	}
}

func ConnectNats(log zerolog.Logger) (*nats.Conn, jetstream.JetStream) {
	conf := configs.Cfg.Database.Nats
	nc, err := nats.Connect(strings.Join(conf.Servers, ","),
		nats.UserInfo(conf.Username, conf.Password),
		nats.MaxReconnects(-1))
	if err != nil {
		log.Error().Err(err).Msg("Failed to connect to NATS")
		panic(err)
	}

	js, err := jetstream.New(nc)
	if err != nil {
		log.Error().Err(err).Msg("Failed to initialize JetStream")
		panic(err)
	}

	log.Info().Msg("NATS connected successfully")
	return nc, js
}

func (n *natsRepository) GetConn() *nats.Conn {
	return n.Conn
}

func (n *natsRepository) GetJS() jetstream.JetStream {
	return n.JS
}

func (n *natsRepository) Publish(ctx context.Context, subject string, data []byte) (*jetstream.PubAck, error) {
	return n.JS.Publish(ctx, subject, data)
}

func (n *natsRepository) Consume(ctx context.Context, streamName, consumerName string, handler jetstream.MessageHandler) (jetstream.ConsumeContext, error) {
	cons, err := n.JS.Consumer(ctx, streamName, consumerName)
	if err != nil {
		return nil, err
	}
	return cons.Consume(handler)
}
