package nats

import (
	"context"
	"{{.ProjectName}}/configs"
	"strings"
	"time"

	"github.com/google/uuid"
	"github.com/nats-io/nats.go"
	"github.com/nats-io/nats.go/jetstream"
	"github.com/rs/zerolog"
)

type (
	natsRepository struct {
		Conn *nats.Conn
		JS   jetstream.JetStream
		Logs zerolog.Logger
	}
	NatsRepository interface {
		GetConn() *nats.Conn
		GetJS() jetstream.JetStream
		Publish(ctx context.Context, stream, subject string, ttl time.Duration, header nats.Header, data []byte) (*jetstream.PubAck, error)
		Consume(ctx context.Context, stream, subject, consumerName string, ttl time.Duration, handler jetstream.MessageHandler) (jetstream.ConsumeContext, error)
		CreateStream(ctx context.Context, streamName string, subjects []string, ttl time.Duration) (jetstream.Stream, error)
	}
)

func InitializeNatsRepository(nc *nats.Conn, js jetstream.JetStream, log zerolog.Logger) NatsRepository {
	return &natsRepository{
		Conn: nc,
		JS:   js,
		Logs: log,
	}
}

func ConnectNats(ctx context.Context, log zerolog.Logger) (*nats.Conn, jetstream.JetStream) {
	conf := configs.Cfg.Database.Nats
	nc, err := nats.Connect(strings.Join(conf.Servers, ","),
		nats.UserInfo(conf.Username, conf.Password),
		nats.MaxReconnects(-1))
	if err != nil {
		log.Error().Ctx(ctx).Err(err).Msg("Failed to connect to NATS")
		panic(err)
	}

	js, err := jetstream.New(nc)
	if err != nil {
		log.Error().Ctx(ctx).Err(err).Msg("Failed to initialize JetStream")
		panic(err)
	}

	log.Info().Ctx(ctx).Msg("NATS connected successfully")
	return nc, js
}

func (n *natsRepository) GetConn() *nats.Conn {
	return n.Conn
}

func (n *natsRepository) GetJS() jetstream.JetStream {
	return n.JS
}

func (n *natsRepository) Publish(ctx context.Context, stream, subject string, ttl time.Duration, header nats.Header, data []byte) (*jetstream.PubAck, error) {
	start := time.Now()

	defer func() {
		n.Logs.Info().
			Str("stream", stream).
			Str("subject", subject).
			Dur("duration", time.Since(start)).
			Msg("PUBLISH NATS")
	}()

	// Add default headers if not present
	if header.Get("Nats-Msg-Id") == "" {
		header.Set("Nats-Msg-Id", uuid.New().String())
	}
	header.Set("Timestamp", time.Now().UTC().Format(time.RFC3339Nano))
	header.Set("X-App-Id", configs.Cfg.General.ServiceName)

	msg := &nats.Msg{
		Subject: subject,
		Data:    data,
		Header:  header,
	}

	ack, err := n.JS.PublishMsg(ctx, msg)
	if err != nil && (strings.Contains(err.Error(), "stream not found") || strings.Contains(err.Error(), "no response")) {
		n.Logs.Warn().Err(err).Str("stream", stream).Msg("Stream not found or no response, attempting to lazy create...")
		subjects := []string{
			configs.Cfg.Database.Nats.ExampleSubject,
		}
		_, errCreate := n.CreateStream(ctx, stream, subjects, ttl)
		if errCreate == nil {
			return n.JS.PublishMsg(ctx, msg)
		}
		return nil, errCreate
	}

	return ack, err
}

func (n *natsRepository) Consume(ctx context.Context, stream, subject, consumerName string, ttl time.Duration, handler jetstream.MessageHandler) (jetstream.ConsumeContext, error) {
	// Auto create stream if it doesn't exist
	_, err := n.CreateStream(ctx, stream, []string{subject}, ttl)
	if err != nil {
		n.Logs.Warn().Ctx(ctx).Err(err).Str("stream", stream).Msg("Failed to auto-create stream during Consume")
	}

	cons, err := n.JS.CreateOrUpdateConsumer(ctx, stream, jetstream.ConsumerConfig{
		Durable:       consumerName,
		FilterSubject: subject,
	})
	if err != nil {
		return nil, err
	}
	return cons.Consume(handler)
}

func (n *natsRepository) CreateStream(ctx context.Context, streamName string, subjects []string, ttl time.Duration) (jetstream.Stream, error) {
	return n.JS.CreateOrUpdateStream(ctx, jetstream.StreamConfig{
		Name:     streamName,
		Subjects: subjects,
		MaxAge:   ttl,
	})
}
