package postgre

import (
	"context"
	"fmt"
	"{{.ProjectName}}/configs"
	"{{.ProjectName}}/helpers"
	"{{.ProjectName}}/models"
	"github.com/rs/zerolog"
	"gorm.io/driver/postgres"
	"gorm.io/gorm"
	gormlogger "gorm.io/gorm/logger"
	"time"
)

type PostgreRepository struct {
	Db   *gorm.DB
	Logs zerolog.Logger
}

func (p *PostgreRepository) GetDB() *gorm.DB {
	return p.Db
}

func InitializePostgreRepository(conn *gorm.DB, log zerolog.Logger) *PostgreRepository {
	return &PostgreRepository{
		Db:   conn,
		Logs: log,
	}
}

func ConnectPostgre(ctx context.Context, log zerolog.Logger) *gorm.DB {
	conf := configs.Cfg.Database.PostgreSQL
	dsn := fmt.Sprintf("host=%s user=%s password=%s dbname=%s port=%d sslmode=%s TimeZone=Asia/Jakarta",
		conf.Host, conf.User, conf.Pass, conf.Database, conf.Port, conf.SSLMode)
	db, err := gorm.Open(postgres.Open(dsn), &gorm.Config{
		Logger: helpers.NewGormLogger(helpers.GormLoggerOptions{
			Logger:                    log,
			LogLevel:                  gormlogger.Info,
			IgnoreRecordNotFoundError: true,
			SlowThreshold:             200 * time.Millisecond,
		}),
	})
	if err != nil {
		log.Error().Ctx(ctx).Err(err).Msg("Error open postgres connection")
		panic("Error open postgres connection")
	}

	sqlDB, err := db.DB()
	if err != nil {
		log.Error().Ctx(ctx).Err(err).Msg("Error getting sql.DB from gorm")
		panic("Error open postgres connection")
	}

	maxConn := conf.MaxConn
	if maxConn == 0 {
		maxConn = 100
	}
	maxIdleConn := conf.MaxIdleConn
	if maxIdleConn == 0 {
		maxIdleConn = 10
	}
	maxConnWait := conf.MaxConnWait
	if maxConnWait == 0 {
		maxConnWait = 1 * time.Hour
	}
	maxConnIdleTime := conf.MaxConnIdleTime
	if maxConnIdleTime == 0 {
		maxConnIdleTime = 15 * time.Minute
	}

	sqlDB.SetMaxOpenConns(maxConn)
	sqlDB.SetMaxIdleConns(maxIdleConn)
	sqlDB.SetConnMaxLifetime(maxConnWait)
	sqlDB.SetConnMaxIdleTime(maxConnIdleTime)

	return db
}

func (p *PostgreRepository) HealthCheck(ctx context.Context) models.DataHealthCheck {
	res := models.DataHealthCheck{
		ServiceName: "PostgreSQL Database",
		StatusCode:  200,
	}
	
	sqlDB, err := p.Db.DB()
	if err != nil {
		p.Logs.Error().Ctx(ctx).Err(err).Msg("Failed to get SQL DB")
		res.StatusCode = 500
		res.AdditionalData = err.Error()
		return res
	}
	
	if err := sqlDB.Ping(); err != nil {
		p.Logs.Error().Ctx(ctx).Err(err).Msg("PostgreSQL ping failed")
		res.StatusCode = 500
		res.AdditionalData = err.Error()
		return res
	}
	
	return res
}
