package redis

import (
	"context"
	"fmt"
	"{{.ProjectName}}/configs"
	"{{.ProjectName}}/dto"
	"github.com/redis/go-redis/v9"
	"github.com/rs/zerolog"
)

type (
	redisRepository struct {
		Client *redis.Client
		Logs   zerolog.Logger
	}
	RedisRepository interface {
		GetClient() *redis.Client
		HealthCheck(ctx context.Context) dto.DataHealthCheck
	}
)

func InitializeRedisRepository(conn *redis.Client, log zerolog.Logger) RedisRepository {
	return &redisRepository{
		Client: conn,
		Logs:   log,
	}
}

func ConnectRedis(log zerolog.Logger) *redis.Client {
	conf := configs.Cfg.Database.Redis
	client := redis.NewClient(&redis.Options{
		Addr:     fmt.Sprintf("%s:%d", conf.Address, conf.Port),
		Password: conf.Password,
		DB:       conf.DBType,
	})

	if _, err := client.Ping(context.Background()).Result(); err != nil {
		log.Error().Err(err).Msg("Error open redis connection")
		panic("Error open redis connection")
	}

	log.Info().Msg("Redis connected successfully")
	return client
}

func (r *redisRepository) GetClient() *redis.Client {
	return r.Client
}

func (r *redisRepository) HealthCheck(ctx context.Context) dto.DataHealthCheck {
	res := dto.DataHealthCheck{
		ServiceName: "Redis",
		StatusCode:  200,
	}
	
	if _, err := r.Client.Ping(ctx).Result(); err != nil {
		r.Logs.Error().Ctx(ctx).Err(err).Msg("Redis ping failed")
		res.StatusCode = 500
		res.AdditionalData = err.Error()
		return res
	}
	
	return res
}
