syntax = "proto3";

package pb;

option go_package = "{{.ProjectName}}/grpc/pb";

service {{.ProjectName | title}}Service {
  rpc HealthCheck (HealthCheckRequest) returns (HealthCheckResponse);
}

message HealthCheckRequest {}

message HealthCheckResponse {
  string status = 1;
}
