stages:
  - build
  - deploy

variables:
  DOCKER_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -t $DOCKER_IMAGE -f docker/Dockerfile .
    - docker push $DOCKER_IMAGE
  only:
    - tags

deploy_dev:
  stage: deploy
  script:
    - echo "Deploying to development server..."
  only:
    - /^dev-.*$/
  when: manual
