package controllers

import (
	"github.com/gofiber/fiber/v3"
	"net/http"
)

// {{.FeatureName}} godoc
// @Summary {{.FeatureName}}
// @Description {{.FeatureName}} endpoint
// @Tags {{.FeatureNameLower}}
// @ID {{.FeatureNameLower}}
// @Produce json
// @Success 200 {object} hModels.Response
// @Router /v1/{{.FeatureNameLower}} [GET]
func (ctrl *v1Controller) {{.FeatureName}}(c fiber.Ctx) error {
	res := ctrl.Usecase.{{.FeatureName}}(c.Context())
	return c.Status(http.StatusOK).JSON(res)
}
