package usecases

import (
	"context"
	"{{.ProjectName}}/helpers"
	hModels "{{.ProjectName}}/helpers/models"
)

func (u *usecase) {{.FeatureName}}(ctx context.Context) hModels.Response {
	res := hModels.Response{
		Meta: helpers.GetMetaResponse("general_error"),
	}

	// data, err := u.DB.GetPostgre().Get{{.FeatureName}}(ctx)
	// if err != nil {
	// 	u.Logs.Error().Ctx(ctx).Err(err).Msg("Error getting {{.FeatureNameLower}} data")
	// 	return res
	// }

	res.Data = "Welcome to {{.FeatureName}} feature"
	res.Meta = helpers.GetMetaResponse("success")
	return res
}
