package hosts

import (
	"github.com/rs/zerolog"
	{{- range .Hosts}}
	{{. | clean}} "{{$.ProjectName}}/hosts/{{.}}"
	{{- end}}
)

type (
	host struct {
		{{- range .Hosts}}
		{{. | title}}Host {{. | clean}}.{{. | title}}
		{{- end}}
		Logs zerolog.Logger
	}

	Host interface {
		{{- range .Hosts}}
		{{. | title}}() {{. | clean}}.{{. | title}}
		{{- end}}
	}
)

{{- range .Hosts}}
func (h *host) {{. | title}}() {{. | clean}}.{{. | title}} {
	return h.{{. | title}}Host
}
{{- end}}

func InitializeHost(
	{{- range .Hosts}}
	{{. | untitle}} {{. | clean}}.{{. | title}},
	{{- end}}
	l zerolog.Logger,
) Host {
	return &host{
		{{- range .Hosts}}
		{{. | title}}Host: {{. | untitle}},
		{{- end}}
		Logs: l,
	}
}
