package helpers

import (
	"{{.ProjectName}}/dto"
	"net/http"
)

func GenerateResponseHealthCheck(data ...dto.DataHealthCheck) dto.Response {
	return dto.Response{
		Meta: dto.MetaData{
			Code:    "2000000",
			Title:   "Available",
			Message: "Service is available",
		},
		Data: data,
	}
}
