package helpers

import (
	"{{.ProjectName}}/models"
	"{{.ProjectName}}/models/dto"
)

func GenerateResponseHealthCheck(data ...models.DataHealthCheck) dto.Response[[]models.DataHealthCheck] {
	return dto.Response[[]models.DataHealthCheck]{
		Data: data,
	}
}
