package helpers

import (
	"{{.ProjectName}}/models"
	"{{.ProjectName}}/models/dto"
)

func GenerateResponseHealthCheck(data ...models.DataHealthCheck) dto.Response {
	return dto.Response{
		Data: data,
	}
}
