package helpers

import (
	"time"
	"github.com/gofiber/fiber/v3"
	"github.com/google/uuid"
	"github.com/rs/zerolog"
	"{{.ProjectName}}/constants"
)

func TracingMiddleware() fiber.Handler {
	return func(c fiber.Ctx) error {
		traceID := c.Get("X-Trace-Id")
		if traceID == "" {
			traceID = uuid.New().String()
		}
		c.Locals(constants.TRANSACTION_ID, traceID)
		c.Set("X-Trace-Id", traceID)
		return c.Next()
	}
}

func LoggingMiddleware(log zerolog.Logger) fiber.Handler {
	return func(c fiber.Ctx) error {
		start := time.Now()
		err := c.Next()
		
		traceID, _ := c.Locals(constants.TRANSACTION_ID).(string)
		
		log.Info().
			Str("trace_id", traceID).
			Str("method", c.Method()).
			Str("path", c.Path()).
			Int("status", c.Response().StatusCode()).
			Dur("duration", time.Since(start)).
			Msg("API Request")
			
		return err
	}
}
