version: '3.2'
services:
  {{.ProjectName}}:
    build: 
      context: .
      dockerfile: Dockerfile
      args:
        ANDROMEDA_USERNAME: 
        ANDROMEDA_TOKEN:
        SERVICE_NAME:
    image: docker-regis.ottodigital.id/prod/-/{{.ProjectName}}:${CI_COMMIT_TAG}
    container_name: CODE_{{.ProjectName}}
    ports:
      - "7878:7878"
    env_file:
      - ./.env
    network_mode: bridge
    restart: unless-stopped
    volumes:
      - ./errorcodes.json:/app/errorcodes.json
      - ./errorcodes/:/app/errorcodes/
      - ./logs/:/app/logs/
