package usecases

import (
	"context"
	"github.com/rs/zerolog"
	"{{.ProjectName}}/models"
	"{{.ProjectName}}/helpers"
	{{- if .Modules}}
	"{{.ProjectName}}/repositories"
	{{- end}}
	{{- if .Hosts}}
	"{{.ProjectName}}/hosts"
	{{- end}}
	{{- range .Features}}
	{{.}}Uc "{{$.ProjectName}}/usecases/v1/{{.}}"
	{{- end}}
	// [V1_USECASE_IMPORT_MARKER]
)

type Usecase interface {
	HealthCheck(ctx context.Context) (models.Response, error)
	{{- range .Features}}
	{{. | title}}() {{.}}Uc.{{. | title}}Usecase
	{{- end}}
	// [V1_USECASE_INTERFACE_MARKER]
}

type usecase struct {
	{{- if .Modules}}
	Repo repositories.Repository
	{{- end}}
	{{- if .Hosts}}
	Host hosts.Host
	{{- end}}
	Logs zerolog.Logger
	{{- range .Features}}
	{{.}} {{.}}Uc.{{. | title}}Usecase
	{{- end}}
	// [V1_USECASE_IMPL_MARKER]
}

func InitializeV1Usecase(
	{{- if .Modules}}
	repo repositories.Repository,
	{{- end}}
	{{- if .Hosts}}
	h hosts.Host,
	{{- end}}
	l zerolog.Logger,
	{{- range .Features}}
	{{.}} {{.}}Uc.{{. | title}}Usecase,
	{{- end}}
) Usecase {
	return &usecase{
		{{- if .Modules}}
		Repo: repo,
		{{- end}}
		{{- if .Hosts}}
		Host: h,
		{{- end}}
		Logs: l,
		{{- range .Features}}
		{{.}}: {{.}},
		{{- end}}
	}
}

func (u *usecase) HealthCheck(ctx context.Context) (models.Response, error) {
	var healthChecks []models.DataHealthCheck
	
	{{- if .Modules}}
	// Repository health checks
	{{- range .Modules}}
	{{- if eq . "mysql"}}
	healthChecks = append(healthChecks, u.Repo.GetMysql().HealthCheck(ctx))
	{{- end}}
	{{- if eq . "postgresql"}}
	healthChecks = append(healthChecks, u.Repo.GetPostgre().HealthCheck(ctx))
	{{- end}}
	{{- if eq . "redis"}}
	healthChecks = append(healthChecks, u.Repo.GetRedis().HealthCheck(ctx))
	{{- end}}
	{{- if eq . "redis-cluster"}}
	healthChecks = append(healthChecks, u.Repo.GetRedisCluster().HealthCheck(ctx))
	{{- end}}
	{{- end}}
	{{- end}}
	
	{{- if .Hosts}}
	// Host health checks
	{{- range .Hosts}}
	healthChecks = append(healthChecks, u.Host.{{. | title}}().HealthCheck(ctx))
	{{- end}}
	{{- end}}
	
	return helpers.GenerateResponseHealthCheck(healthChecks...), nil
}

{{- range .Features}}
func (u *usecase) {{. | title}}() {{.}}Uc.{{. | title}}Usecase {
	return u.{{.}}
}
{{- end}}
