package usecases

import (
	"context"
	"github.com/rs/zerolog"
	hModels "{{.ProjectName}}/helpers/models"
	"{{.ProjectName}}/helpers"
	{{- if .Modules}}
	"{{.ProjectName}}/repositories"
	{{- end}}
	{{- if .Hosts}}
	"{{.ProjectName}}/hosts"
	{{- end}}
)

type Usecase interface {
	HealthCheck(ctx context.Context) hModels.Response
	// [V1_USECASE_INTERFACE_MARKER]
}

type usecase struct {
	{{- if .Modules}}
	Repo repositories.Repository
	{{- end}}
	{{- if .Hosts}}
	Host hosts.Host
	{{- end}}
	Logs zerolog.Logger
}

func InitializeV1Usecase(
	{{- if .Modules}}
	repo repositories.Repository,
	{{- end}}
	{{- if .Hosts}}
	h hosts.Host,
	{{- end}}
	l zerolog.Logger,
) Usecase {
	return &usecase{
		{{- if .Modules}}
		Repo: repo,
		{{- end}}
		{{- if .Hosts}}
		Host: h,
		{{- end}}
		Logs: l,
	}
}

func (u *usecase) HealthCheck(ctx context.Context) hModels.Response {
	var healthChecks []hModels.DataHealthCheck
	
	{{- if .Modules}}
	// Repository health checks
	{{- range .Modules}}
	{{- if eq . "mysql"}}
	healthChecks = append(healthChecks, u.Repo.GetMysql().HealthCheck(ctx))
	{{- end}}
	{{- if eq . "postgresql"}}
	healthChecks = append(healthChecks, u.Repo.GetPostgre().HealthCheck(ctx))
	{{- end}}
	{{- if eq . "redis"}}
	healthChecks = append(healthChecks, u.Repo.GetRedis().HealthCheck(ctx))
	{{- end}}
	{{- if eq . "redis-cluster"}}
	healthChecks = append(healthChecks, u.Repo.GetRedisCluster().HealthCheck(ctx))
	{{- end}}
	{{- end}}
	{{- end}}
	
	{{- if .Hosts}}
	// Host health checks
	{{- range .Hosts}}
	healthChecks = append(healthChecks, u.Host.{{. | title}}().HealthCheck(ctx))
	{{- end}}
	{{- end}}
	
	return helpers.GenerateResponseHealthCheck(healthChecks...)
}
